.app {
  height: 100vh;
}

.container {
  position: relative;
  width: 500px;
  margin: auto;
  margin-top: 200px;
  cursor: pointer;
}

.formGroup {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
}

.formField {
  position: relative;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: none;
  font-size: 20px;
  z-index: 1;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.8s;
  letter-spacing: 1.9px;
}

.formField::placeholder {
  color: transparent;
}

.formField:placeholder-shown ~ .formLabel {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.formLabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.3s all;
  font-size: 17px;
  color: #9b9b9b;

}

.formField:focus {
  padding-bottom: 6px;
  
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.formField:focus ~ .formLabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 600;
}

.formField:required, .formField:invalid {
  box-shadow: none;
}
.suggestion {
  position: absolute;
  top: 24px;
  left: 1px;
  color: #afafaf;
  letter-spacing: 2px;
  font-size: 20px;
}

.coordinates {
  margin: auto;
  width: 500px;
  margin-top: 30px;
  padding: 30px;
  height: 200px;
  background-color: #e7e6ff;
  text-align: center;
  border: 1px solid #75b8fe;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  box-shadow: rgba(43, 43, 43, 0.2) 0px 8px 24px;
}
.coordinates p {
  margin: 20px 0;
  margin-right: 10px;
}
.coordinates span {  
  color: #116399;
  padding: 5px 10px;
 
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  color: #ff0000;
}

@media (max-width : 568px) {
  .container {
    width: auto;
    padding: 0 20px;
  }
  .suggestion{
    left: 21px;
  }
  .coordinates {
    width: auto;
    margin: 30px 20px;
  }
  
}


